<header>
  <section class="header-top">
    <a>
      <button disabled mat-button>Rubber Yunez</button>
    </a>
    <span class="spacer"></span>
    <ul>
      <li>
        <button (click)="scrollToSection('about-me')" mat-button>About me</button>
      </li>
      <li>
        <button (click)="scrollToSection('skills')" mat-button>Stack</button>
      </li>
      <li>
        <button (click)="scrollToSection('academic')" mat-button>Academic</button>
      </li>
      <li>
        <button (click)="scrollToSection('projects')" mat-button>Projects</button>
      </li>
    </ul>
  </section>
  <section class="header-bottom">
    <div class="header-bottom-presentation">
      <h1>Hey, I'm Rubber Yunez</h1>
      <p>A passionate Full-Stack Developer with a background in Chemical Engineering.
        In the past I leveraged programming to solve complex problems —from numerical methods to heat transfer— using
        C/C++, Python,
        and MATLAB.</p>
      <div class="header-bottom-social">
        <a href="https://linkedin.com/in/ryunezm" target="_blank">
          <button mat-button>
            <div>
              <img alt="linkedin" height="20" ngSrc="/logos/linkedin.svg" width="20">
              <span>linkedin 🔗</span>
            </div>
          </button>
        </a>
        <a href="https://github.com/ryunezm/" target="_blank">
          <button mat-button>
            <div>
              <img alt="github" height="20" ngSrc="/logos/github.svg" width="20">
              <span>github 🔗</span>
            </div>
          </button>
        </a>
        <a href="https://threads.net/ryunezm" target="_blank">
          <button mat-button>
            <div>
              <img alt="threads" height="20" ngSrc="/logos/threads.svg" width="20">
              <span>threads 🔗</span>
            </div>
          </button>
        </a>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="header-bottom-photo">
      <img [ngSrc]="'/profile_square.png'" alt="profile photo" height="200" priority width="200">
    </div>
  </section>
</header>
