<header>
  <section class="header-top">
    <a>
      <button disabled mat-button>Rubber Yunez</button>
    </a>
    <span class="spacer"></span>
    <ul>
      <li>
        <button (click)="scrollToSection('about-me')" mat-button>About me</button>
      </li>
      <li>
        <button (click)="scrollToSection('skills')" mat-button>Skills</button>
      </li>
      <li>
        <button (click)="scrollToSection('academic')" mat-button>Academic</button>
      </li>
      <li>
        <button (click)="scrollToSection('projects')" mat-button>Projects</button>
      </li>
    </ul>
  </section>
  <section class="header-bottom">
    <div class="header-bottom-presentation">
      <h1>Hi there, I'm Rubber Yunez</h1>
      <p>I'm a Junior Web Developer and Chemical Engineer. During my degree in Chemical Engineering, I
        developed programming skills to solve a variety of problems in topics such as numerical methods, finite
        differences, stoichiometry, and heat and mass transfer, using languages such as C/C++, Python and MATLAB.</p>
      <div class="header-bottom-social">
        <a href="https://linkedin.com/in/ryunezm" target="_blank">
          <button mat-button>
            <div>
              <img alt="linkedin" height="20" ngSrc="/linkedin.svg" width="20">
              <span>linkedin 🔗</span>
            </div>
          </button>
        </a>
        <a href="https://github.com/ryunezm/" target="_blank">
          <button mat-button>
            <div>
              <img alt="github" height="20" ngSrc="/github.svg" width="20">
              <span>github 🔗</span>
            </div>
          </button>
        </a>
        <a href="https://threads.net/ryunezm" target="_blank">
          <button mat-button>
            <div>
              <img alt="threads" height="20" ngSrc="/threads.svg" width="20">
              <span>threads 🔗</span>
            </div>
          </button>
        </a>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="header-bottom-photo">
      <img alt="profile photo" height="200" ngSrc="/profile_square.png" width="200">
    </div>
  </section>
</header>
