header {
  align-content: center;
  align-items: center;
  background: linear-gradient(aliceblue 65%, ghostwhite 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

.header-top {
  align-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;

  :is(ul) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    opacity: 1;
    text-align: center;

    :is(li) {
      margin-right: 1rem;

      :is(a) {
        text-decoration: none;
      }
    }
  }
}

.header-bottom {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.header-bottom-presentation {
  text-align: justify;
  white-space: collapse;
  width: 100%;
}

.header-bottom-social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;

  :is(a) {
    text-decoration: none;

    :is(button) {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      text-align: center;

      :is(div) {
        display: flex;

        :is(img) {
          margin-right: 10px;
        }

        :is(span) {
          display: inline-flex;
          align-items: center;
          align-content: center;
          color: dimgray;
          justify-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.header-bottom-photo {
  max-height: inherit;
  padding-top: 1%;

  :is(img) {
    border-radius: 50%;
    padding-top: 5%;
    padding-bottom: 15%;
    transition: 0.3s ease-in-out;
  }
}

/* Mobile*/
@media (max-width: 480px) {
  .header-bottom {
    all: unset;
  }

  .header-bottom-photo, .header-top > ul {
    display: none;
  }

  .header-bottom-presentation {
    width: 100%;
  }

  .header-bottom-social {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    :is(a) {
      :is(button) {
        :is(div) {
          :is(span) {
            display: none;
          }
        }
      }
    }
  }
}

/* Extra small devices */
@media (min-width: 481px) and  (max-width: 767px) {
  .header-bottom {
    all: unset;
  }

  .header-bottom-presentation {
    width: 100%;
  }

  .header-bottom-photo {
    display: none;
  }
}

/* Special for links in the header */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 49/50) {
  .header-top > ul {
    display: none;
  }
}

/* Special for social links */
@media (min-width: 481px) and (max-width: 527px) {
  .header-bottom-social {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    :is(a) {
      :is(button) {
        :is(div) {
          :is(span) {
            display: none;
          }
        }
      }
    }
  }
}
