<section class="content" id="about-me">
  <h1>About me</h1>
  <hr>
  <p>For the past few years, I’ve immersed myself in web development, specializing in <em><b>Angular</b></em> for
    frontend development,
    <em><b>Java</b></em> and <em><b>Spring Boot</b></em> for backend systems, and working with databases like <em><b>MySQL</b></em>,
    <em><b>PostgreSQL</b></em> and <em><b>MongoDB</b></em> to build robust applications.
  </p>
  <p>🌱 Currently expanding my skills is:</p>
  <ul>
    <li>☁️ Cloud Architecture</li>
    <li>🛡️ Cybersecurity</li>
  </ul>
  <br><br>
  <p>🚀 Passionate about innovation, growth, and tackling new challenges in collaborative environments.
  </p>
  <br><br>
</section>
