<section class="content" id="about-me">
  <h1>About me</h1>
  <hr>
  <p>For the past years, I've been immersed in web development, specializing in Angular for front-end, Java and
    Spring Boot for back-end, and MySQL/MongoDB for databases.
    <br><br>
    Interested in continuing to learn and strengthen my skills, as well as exploring new technologies. Recently, I
    have spent time familiarizing myself with Rust, doing some exercises from LeetCode just for fun.
    <br><br>
    Passionate about facing new challenges and pursuing an environment that stimulates innovation and personal and
    professional growth. </p>
</section>
