<section class="content" id="about-me">
  <h1>About me</h1>
  <p> Hi there, I'm a Junior Web Developer and Chemical Engineering. During my degree in Chemical Engineering, I
    developed programming skills to solve a variety of problems in topics such as numerical methods, finite
    differences, stoichiometry, and heat and mass transfer, using languages such as C/C++, Python and MATLAB.
    <br><br>
    For the past three years, I've been immersed in web development, specializing in Angular for front-end, Java and
    Spring Boot for back-end, and MySQL/MongoDB for databases.
    <br><br>
    Interested in continuing to learn and strengthen my skills, as well as exploring new technologies. Recently, I
    have spent time familiarizing myself with Rust, doing some exercises from LeetCode.
    <br><br>
    Passionate about facing new challenges and pursuing an environment that stimulates innovation and personal and
    professional growth. </p>
</section>
