<section class="content" id="academic">
  <h1>Academic</h1>
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          <img height="100" ngSrc="/unicartagena.png" width="229" alt="Unicartagena" priority>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Chemical Engineering</mat-card-title>
        <mat-card-subtitle>2024</mat-card-subtitle>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <img alt="UIS" height="100" ngSrc="/uis.svg" width="204">
          <span>➕</span>
          <img alt="MinTic" height="100" ngSrc="/mintic_dark.svg" width="55">
        </div>
      </mat-card-content>

      <mat-card-footer>
        <mat-card-title>Web Developer</mat-card-title>
        <mat-card-subtitle>2022</mat-card-subtitle>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
