<section class="content" id="academic">
  <h1>Academic</h1>
  <hr>
  <div>
    <mat-card>
      <mat-card-content>
        <div class="mat-card-content-box">
          <img alt="Unicartagena" height="70" ngSrc="/logos/unicartagena.png" priority width="160">
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Chemical Engineering</mat-card-title>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="mat-card-content-box">
          <img alt="UIS" height="70" ngSrc="/logos/uis.svg" width="143">
          <img alt="MinTic" height="70" ngSrc="/logos/mintic_dark.svg" width="38.5">
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Web Developer</mat-card-title>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
