<section class="content" id="academic">
  <h1>Academic</h1>
  <hr>
  <div>
    <mat-card>
      <mat-card-content>
        <img alt="Unicartagena" height="70" ngSrc="/unicartagena.png" priority width="160">
      </mat-card-content>
      <mat-card-footer>
        <mat-card-title>Chemical Engineering</mat-card-title>
        <mat-card-subtitle>2024</mat-card-subtitle>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img alt="UIS" height="70" ngSrc="/uis.svg" width="143">
        <span>➕</span>
        <img alt="MinTic" height="70" ngSrc="/mintic_dark.svg" width="38.5">
      </mat-card-content>

      <mat-card-footer>
        <mat-card-title>Web Developer</mat-card-title>
        <mat-card-subtitle>2022</mat-card-subtitle>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
