<section class="content" id="projects">
  <h1>Projects</h1>

  <div class="content-project">
    <mat-card>
      <mat-card-title>Movie cataloguer</mat-card-title>
      <mat-card-subtitle>#Java♨️ #SpringBoot🍃 #MongoDB📃 #Angular🅰️</mat-card-subtitle>
      <mat-card-content>
        <p>Personal movie cataloguer to register watched movies, adding personal rating.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Repository</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content-project">
    <mat-card>
      <mat-card-title>Text encrypter</mat-card-title>
      <mat-card-subtitle>#HTML📑 #CSS🎨 #JavaScript💡</mat-card-subtitle>
      <mat-card-content>
        <p>
          An application for encrypting and decrypting text using predefined rules. Works with lowercase letters only,
          excluding accented characters and special symbols. Users input text and choose between encryption or
          decryption.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Repository</button>
        <button mat-button>Demo</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content-project">
    <mat-card>
      <mat-card-title>Units converter</mat-card-title>
      <mat-card-subtitle>#Java♨️</mat-card-subtitle>
      <mat-card-content>
        <p>
          This project is a unit conversion application that provides functionality to convert between different types
          of units, such as currency, length, mass, temperature and time. It is implemented in Java and uses
          enumerations to represent each unit type. It includes a user interface built with Java Swing for easy user
          interaction.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Repository</button>
        <button mat-button>Download preview</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="content-project">
    <mat-card>
      <mat-card-title>LeetCode's problems solved in Rust</mat-card-title>
      <mat-card-subtitle>#Rust🦀 #InProgress🔜</mat-card-subtitle>
      <mat-card-content>
        <p>
          Series of exercises solved in Rust, for now, the easy ones, as I become more familiar with this lovely
          language.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Repository</button>
      </mat-card-actions>
    </mat-card>
  </div>

</section>
