<section class="content" id="projects">
  <h1>Projects</h1>
  <hr>
  <div class="project-content-container">
    @for (project of projects; track project) {
      <div class="project-content">
        <mat-card>
          <mat-card-title>{{ projectDetails[project].title }}</mat-card-title>
          <mat-card-subtitle>{{ projectDetails[project].tags.join(' ') }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ projectDetails[project].description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [href]="projectDetails[project].repository" target="_blank">
              <button mat-button>Repository</button>
            </a>
            @if (projectDetails[project].demo) {
              <a [href]="projectDetails[project].demo" target="_blank">
                <button mat-button>Demo</button>
              </a>
            }
            @if (projectDetails[project].downloadPreview) {
              <a [href]="projectDetails[project].downloadPreview" target="_blank">
                <button mat-button>Download preview</button>
              </a>
            }
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </div>
</section>
