.project-content-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.project-content {
  :is(mat-card) {
    display: flex;
    flex-direction: column;
    width: 30vmax;

    :is(span) {
      flex-grow: 1;
      background-color: #0B7CF7;
    }
  }
}
