<section class="content" id="skills">
  <h1>Technical Stack</h1>
  <hr>
  <div class="groups">

    <mat-card>
      <mat-card-footer>
        <mat-card-title>Back-end</mat-card-title>
      </mat-card-footer>
      <mat-card-content>
        <div>
          <img [ngSrc]="'/language/Java_logo.svg'"
               [title]="'Java'"
               alt="Java"
               height="100"
               priority
               width="54">
          <img [ngSrc]="'/language/Spring_Boot_logo.svg'"
               [title]="'Spring Boot'"
               alt="Spring Boot"
               height="100"
               priority width="100">
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-footer>
        <mat-card-title>Databases</mat-card-title>
      </mat-card-footer>
      <mat-card-content>
        <div>
          <img [ngSrc]="'/language/MongoDB_logo_unofficial.png'"
               [title]="'MongoDB'"
               alt="MongoDB"
               height="100"
               priority
               width="98">
          <img [ngSrc]="'/language/MySQL_logo.svg'"
               [title]="'MySQL'"
               alt="MySQL"
               height="100"
               priority
               width="146">
          <img [ngSrc]="'/language/postgresql_logo.svg'"
               [title]="'PostgreSQL'"
               alt="PostgreSQL"
               height="100"
               priority
               width="97.0111117846887">
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-footer>
        <mat-card-title>Front-end</mat-card-title>
      </mat-card-footer>
      <mat-card-content>
        <div>
          <img [ngSrc]="'/language/Angular_logo.svg'"
               [title]="'Angular'"
               alt="Angular"
               height="100"
               priority
               width="100">
          <img [ngSrc]="'/language/JavaScript_unofficial_logo.svg'"
               [title]="'JavaScript'"
               alt="JavaScript"
               height="100"
               priority width="92">
          <img [ngSrc]="'/language/HTML5_logo.svg'"
               [title]="'HTML'"
               alt="HTML5"
               height="100"
               width="100">
          <img [ngSrc]="'/language/CSS3_logo.svg'"
               [title]="'CSS'"
               alt="CSS"
               height="100"
               width="100">
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-footer>
        <mat-card-title>Others</mat-card-title>
      </mat-card-footer>
      <mat-card-content>
        <div>
          <img [ngSrc]="'/language/Rust_logo.svg'"
               [title]="'Rust'"
               alt="Rust"
               height="100"
               width="100">
          <img [ngSrc]="'/language/Python_logo.svg'"
               [title]="'Python'"
               alt="Python"
               height="100"
               width="82">
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</section>
