div {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

div > img {
  margin: 2vmax 1.5vmax;
}

div > div {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 10px 10px;
  outline: 1px solid black;

}

