<section class="content" id="skills">
  <h1>Skills</h1>
  <div>
    <img ngSrc="/language/Angular_logo.svg" alt="Angular" height="100" width="100">
    <img ngSrc="/language/JavaScript_unofficial_logo.svg" alt="" height="100" width="92">
    <img ngSrc="/language/HTML5_logo.svg" height="100" alt="HTML5" width="100">
    <img ngSrc="/language/CSS3_logo.svg" alt="CSS" height="100" width="70">
    <img ngSrc="/language/Java_logo.svg" alt="Java" height="100" width="54">
    <img ngSrc="/language/MongoDB_logo.svg" alt="Java" height="100" width="100">
    <img ngSrc="/language/MySQL_logo.svg" alt="Java" height="100" width="146">
    <img ngSrc="/language/Spring_Boot_logo.svg" alt="Java" height="100" width="100">
    <img ngSrc="/language/Rust_logo.svg" alt="Java" height="100" width="100">
  </div>
</section>
