<section class="content" id="skills">
  <h1>Skills</h1>
  <hr>
  <div class="groups">

    <mat-card>
      <mat-card-content>
        <div>
          <img ngSrc="/language/Java_logo.svg" alt="Java" height="100" width="54" priority>
          <img ngSrc="/language/Spring_Boot_logo.svg" alt="Spring Boot" height="100" width="100" priority>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <img ngSrc="/language/MongoDB_logo_unofficial.png" alt="MongoDB" height="100" width="98" priority>
          <img ngSrc="/language/MySQL_logo.svg" alt="MySQL" height="100" width="146" priority>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <img ngSrc="/language/Angular_logo.svg" alt="Angular" height="100" width="100" priority>
          <img ngSrc="/language/JavaScript_unofficial_logo.svg" alt="JavaScript" height="100" width="92" priority>
          <img ngSrc="/language/HTML5_logo.svg" height="100" alt="HTML5" width="100" priority>
          <img ngSrc="/language/CSS3_logo.svg" alt="CSS" height="100" width="70" priority>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div>
          <img ngSrc="/language/Rust_logo.svg" alt="Rust" height="100" width="100">
          <img ngSrc="/language/Python_logo.svg" alt="Python" height="100" width="82">
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</section>
