<main>
  <header>
    <section class="header-top">
      <a>Rubber Yunez</a>
      <span class="spacer"></span>
      <ul>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#academic">Academic</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </section>
    <section class="header-bottom">
      <div class="header-bottom-presentation">
        <h1>I'm Rubber Yunez, a web developer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus eligendi enim excepturi,
          facilis fugiat harum id, inventore, minus quae quam sapiente vel vitae. Aliquid iure laudantium perferendis
          possimus quibusdam?</p>
        <div class="header-bottom-presentation-social">
          <a href="https://linkedin.com/in/ryunezm" target="_blank">
            <button mat-button>
              <img alt="linkedin" height="25" ngSrc="/linkedin.svg" width="25">
            </button>
          </a>
          <a href="https://github.com/ryunezm/" target="_blank">
            <button mat-button>
              <img alt="github" height="25" ngSrc="/github.svg" width="25">
            </button>
          </a>
          <a href="https://threads.net/ryunezm" target="_blank">
            <button mat-button>
              <img alt="threads" height="25" ngSrc="/threads.svg" width="25">
            </button>
          </a>
        </div>
      </div>
      <span class="spacer"></span>
      <div class="header-bottom-photo">
        <img alt="profile photo" height="200" ngSrc="/profile_square.png" width="200">
      </div>
    </section>
  </header>

  <section id="about-me" class="content">
    <h1>About me</h1>
    <p> Hi there, I'm a Junior Web Developer and Chemical Engineering. During my degree in Chemical Engineering, I developed programming skills to solve a variety of problems in topics such as numerical methods, finite differences, stoichiometry, and heat and mass transfer, using languages such as C/C++, Python and MATLAB.
      <br><br>
      For the past three years, I've been immersed in web development, specializing in Angular for front-end, Java and Spring Boot for back-end, and MySQL/MongoDB for databases.
      <br><br>
      Interested in continuing to learn and strengthen my skills, as well as exploring new technologies. Recently, I have spent time familiarizing myself with Rust, doing some exercises from LeetCode.
      <br><br>
      Passionate about facing new challenges and pursuing an environment that stimulates innovation and personal and professional growth. </p>
  </section>

  <section class="content" id="skills">
    <h1>Skills</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda beatae deleniti deserunt enim error,
      ex fuga ipsum maiores minima minus molestias, nam perferendis quasi sed tempora unde velit, voluptates.</p>
  </section>

  <section class="content" id="academic">
    <h1>Academic</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus facere ipsum nesciunt officia
      perspiciatis placeat quidem, repudiandae. Ab accusantium amet debitis doloremque expedita maxime molestiae
      mollitia qui sed ut.</p>
  </section>

  <section class="content" id="projects">
    <h1>Projects</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque dolorem error et harum incidunt quis
      repellat voluptatem. Architecto corporis dolores excepturi explicabo nostrum sapiente, soluta voluptate. Corporis,
      facilis, quod? </p>
  </section>

  <footer>Developed by Rubber Yunez</footer>
</main>
<router-outlet/>
