/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background: aliceblue;
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

hr {
  background: linear-gradient(to right, aliceblue, dimgray);
  border: 0;
  height: 1px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 0;
  width: 15vmax;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

.spacer {
  width: 10%;
}

#about-me, #academic, footer {
  /*background: ghostwhite;*/
  background: linear-gradient(ghostwhite 65%, aliceblue 100%);
}

#skills, #projects {
  /*background: aliceblue;*/
  background: linear-gradient(aliceblue 65%, ghostwhite 100%);
}

a:visited {
  text-decoration: none;
}

footer {
  /*background: linear-gradient(to bottom, aliceblue, ghostwhite);*/
  display: flex;
  margin-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  height: 100px;

  & p {
    font-family: "NotoSans NFP", monospace;
    font-weight: bold;
  }
}

& mat-card {
  align-content: center;
  align-items: center;
  background-color: rgba(215, 215, 215, 0.2);
  border-radius: 0;
  box-shadow: 0 0 0 0;
  display: flex;
  height: 100%;
  margin-right: 1.5vmax;
  margin-left: 1.5vmax;
  margin-bottom: 2vmax;
  min-width: 300px;
  padding-top: 1vmax;

  & mat-card-content {
    padding: 1vmax 1vmax;
  }

  & mat-card-footer {
    align-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    height: 50px;
    width: 100%;

  }
}

& mat-card:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

& mat-card-header {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;

  & span {
    filter: grayscale(100%);
    font-family: "Noto Sans", sans-serif;
    font-size: xx-large;
    margin-right: 10px;
    margin-left: 10px;
  }
}

& mat-card-title, & mat-card-subtitle {
  color: dimgray;
  font-family: "NotoSans NFP", sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}


