/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background: aliceblue;
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

a:visited {
  text-decoration: none;
}

footer {
  /*background: linear-gradient(to bottom, aliceblue, ghostwhite);*/
  display: flex;
  margin-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  height: 100px;
}

footer > p {
  display: flex;
  align-content: center;
  align-items: center;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bolder;
  font-size: medium;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

h1 {
  margin-bottom: 0.5vmax;
  font-size: xxx-large;
}

header {
  align-content: center;
  align-items: center;
  background: linear-gradient(aliceblue 65%, ghostwhite 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

hr {
  background: linear-gradient(to right, aliceblue, dimgray);
  border: 0;
  height: 2px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 0;
  width: 15vmax;
}

mat-card {
  align-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.2) !important;
  border-radius: 0.2vmax !important;
  box-shadow: 0 0 0 0 !important;
  display: flex !important;
  height: 100% !important;
  margin: 0.75vmax 0.75vmax !important;
  min-width: 300px !important;
  outline: 1px solid lightgrey;
  padding-top: 1vmax !important;
}

mat-card:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

mat-card > mat-card-content {
  align-content: center !important;
  align-items: center !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center !important;
  justify-items: center !important;
  min-width: 300px;
  padding: 1vmax 1vmax !important;
}

mat-card > mat-card-content > img {
  margin: 10px;
}

mat-card > mat-card-content > p,
section > p {
  /*font-family: "Noto Sans Mono", sans-serif !important;*/
  font-size: medium;
  color: #3C3C3CFF;
  margin-right: 15px;
  margin-left: 15px;
}

mat-card > mat-card-content > span {
  filter: grayscale(100%) !important;
  font-family: "Noto Sans", sans-serif !important;
  font-size: xx-large !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

mat-card > mat-card-footer {
  align-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  height: 50px;
  width: 100%;
}

mat-card > mat-card-footer > mat-card-title,
mat-card > mat-card-footer > mat-card-subtitle,
mat-card > mat-card-subtitle,
mat-card > mat-card-title {
  color: #3c3c3c !important;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: bold !important;
  margin: 0.1vmax 1vmax !important;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

#about-me, #academic, footer {
  /*background: ghostwhite;*/
  background: linear-gradient(ghostwhite 65%, aliceblue 100%);
}

#skills, #projects {
  /*background: aliceblue;*/
  background: linear-gradient(aliceblue 65%, ghostwhite 100%);
}

.content > p,
section >  div > p {
  font-size: x-large;
}

.header-top {
  align-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;

  :is(ul) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    opacity: 1;
    text-align: center;

    :is(li) {
      margin-right: 1rem;

      :is(a) {
        text-decoration: none;
      }
    }
  }
}

.header-bottom {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.header-bottom-presentation {
  text-align: justify;
  white-space: collapse;
  width: 100%;

  :is(p) {
    color: #3C3C3CFF;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.header-bottom-social {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;

  :is(a) {
    text-decoration: none;

    :is(button) {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      text-align: center;

      :is(div) {
        display: flex;

        :is(img) {
          margin-right: 10px;
        }

        :is(span) {
          display: inline-flex;
          align-items: center;
          align-content: center;
          color: dimgray;
          justify-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.header-bottom-photo {
  margin-left: 15px;
  max-height: inherit;
  padding-top: 1%;

  :is(img) {
    border-radius: 50%;
    padding-top: 5%;
    padding-bottom: 15%;
    transition: 0.3s ease-in-out;
  }
}

/* Mobile*/
@media (max-width: 480px) {
  .header-bottom {
    all: unset;
  }

  .header-bottom-photo, .header-top > ul {
    display: none;
  }

  .header-bottom-presentation {
    width: 100%;
  }

  .header-bottom-social {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    :is(a) {
      :is(button) {
        :is(div) {
          :is(span) {
            display: none;
          }
        }
      }
    }
  }
}

/* Extra small devices */
@media (min-width: 481px) and  (max-width: 767px) {
  .header-bottom {
    all: unset;
  }

  .header-bottom-presentation {
    width: 100%;
  }

  .header-bottom-photo {
    display: none;
  }
}

/* Special for links in the header */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 49/50) {
  .header-top > ul {
    display: none;
  }
}

/* Special for social links */
@media (min-width: 481px) and (max-width: 527px) {
  .header-bottom-social {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

    :is(a) {
      :is(button) {
        :is(div) {
          :is(span) {
            display: none;
          }
        }
      }
    }
  }
}




